footer{
    background-color: $brand-color-comp;
    font-weight:100;
 
    
    .copy{
        color:#999;
        text-align:center;
        margin:0;
        padding-bottom: $base-spacing-unit;
        padding-top: $base-spacing-unit;
            
    }
}