
//Color the background
//Make the Nav horizontal and text white
.welcome{

  background: url(../img/vitorteixeira_logo.png) no-repeat center center fixed;
  background-color:$brand-color;
  height: 100vh;
  min-height: 600px;
  text-align: center;
  position: relative;
  nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index:999999;
    ul{
      @extend .nav, .nav--banner, .nav--block, .caps;
      padding:0.5em;
      margin:0;
      background-color:$brand-color;
    }
    li{
      vertical-align: middle;
      a{
        color:#fff;
        text-decoration:none;

        &:hover,
        &:active,
        &:focus{
          background-color:#fff;
          color: $brand-color;
        }
      }
    }
  }
}
