<section class="scrollto about-me" id="about">
    <div class="ink-grid">
        <div class="column-group quarter-horizontal-gutters push-top" id="more-about-me">
            <div class="xlarge-50 large-50 medium-100 small-100 tiny-100 medium-bottom-space small-bottom-space tiny-bottom-space">
                <div class="column-group xlarge-quarter-horizontal-gutters large-horizontal-gutters medium-horizontal-gutters bottom-space">
                    <div class="xlarge-33 large-33 medium-50 small-100 tiny-100 medium-align-right small-align-center tiny-align-center small-bottom-space tiny-bottom-space">
                        <img src="{% asset_path vitor-teixeira.jpg %}" alt="A picture of Vítor Teixeira" class="my-pic">
                    </div>
                    <div class="xlarge-45 large-45 medium-50 small-100 tiny-100 small-align-center tiny-align-center my-info">
                        <h1 class="name">V&iacute;tor Teixeira</h1>
                        <p class="role">User Experience Professional</p>
                        <a href="https://goo.gl/maps/n602z" target="_blank" class="location">Lisbon, Portugal</a>
                        <p class="secondary-text">Check out my <a href="">LinkedIn profile</a> for details about the companies and projects I have worked on.</p>
                    </div>
                </div>
            </div>

            <div class="xlarge-50 large-50 medium-100 small-100 tiny-100 medium-push-center experience-education">

                <div>
                    <p class="about-me-punch">Passionate about life and technology, my goal is to make sure the latter does not get in the way of the former, but instead makes it better!</p>
                   <p class="">Find more about <a href="#blog" class="scroll" title="Go to latest writings list">what I do</a> and what drives me in the articles below. Also, feel free to <a href="#contact" class="scroll" title="Go to contact form">drop me a line</a> if you have any questions, comments, or would just like to say hello.</p>
                   <!--                    <p class="">Also an avid reader, movies and tv shows addict, and sort of a handyman. Oh, and a proud dog owner too!</p>-->
                    
            </div>
        </div>
    </div>
    </div>
</section> <!-- End of About Me section-->
