<section class="scrollto about-me" id="about">
    <div class="ink-grid">
        <h1 class="align-center">What I do</h1>

        <div class="column-group push-top" id="more-about-me">

            <div class="xlarge-70 large-70 medium-100 small-100 tiny-100 push-center">

                <p class="about-me-punch">I'm a User Experience Professional with a passion for solving problems using smart, and simple, user centred design.</p>


                <div class="xlarge-70 large-70 medium-90 small-100 tiny-100 push-center">
                    <p class="about-me-text">Currently I live in <a href="https://goo.gl/maps/n602z" target="_blank">Lisbon</a> and work for <a href="http://about.sapo.pt" target="_blank">SAPO</a> in the <a href="http://ux.sapo.pt/equipa" target="_blank"><abbr title="User Experience">UX</abbr> Team</a>. Before, I worked for Microsoft as a Researcher in the <a href="http://www.microsoft.com/pt-pt/mldc/default.aspx" target="_blank">Microsoft Language Development Center</a>, working in projects like <a href="http://www.microsoft.com/pt-pt/mldc/lul/en/default.aspx" target="_blank">Living Usability Lab</a> and <a href="http://www.aal4all.org/" target="_blank"><abbr title="Ambient Assisted Living">AAL</abbr>4ALL</a>. After work I'm an avid reader, movies and tv shows addict, and sort of a handyman. Oh, and a proud dog owner too!</p>
                    <p class="about-me-text">Find more about what I do and what drives me in the <a href="#blog" class="scroll" title="Go to latest writings list">articles below</a>. Feel free to <a href="#contact" class="scroll" title="Go to contact form">drop me a line</a> if you have any questions, comments, or would just like to say hello.</p>
                    <p class="about-me-secondary">Also, make sure to check out my <a href="https://www.linkedin.com/in/vsdteixeira" title="Linkedin profile" target="_blank">LinkedIn profile</a> if you are interested in the companies and projects I have worked on.</p>
                </div>
            </div>
        </div>
    </div>
</section> <!-- End of About Me section-->