<section class="about-me" id="about" aria-labelledby="aboutHeading">
    <div class="ink-grid">
        <h1 id="aboutHeading" class="align-center">About me</h1>

        <div class="column-group push-top" id="more-about-me">

            <div class="xlarge-80 large-80 medium-100 small-100 tiny-100 push-center">
                <p class="about-me-punch">I'm a User Experience Professional with a passion for solving problems using smart, and simple, User-Centered Design.</p>

                <p class="about-me-text">Currently I live in <a href="https://goo.gl/maps/n602z" target="_blank">Lisbon</a> and work for <a href="http://about.sapo.pt" target="_blank">SAPO</a> in the <a href="http://ux.sapo.pt/equipa" target="_blank"><abbr title="User Experience">UX</abbr> Team</a>, helping build great products like <a href="/work/sapo-mag.html" title="SAPO Mag project overview page">SAPO Mag</a> and <a href="/work/sapo-biz.html" title="SAPO Biz project overview page">SAPO Biz</a>. Before, I worked for Microsoft as a Researcher and Software Developer in the <a href="http://www.microsoft.com/pt-pt/mldc/default.aspx" target="_blank">Microsoft Language Development Center</a>, working in projects like <a href="/work/living-usability-lab.html">Living Usability Lab</a> <!--and <a href="http://www.aal4all.org/" target="_blank"><abbr title="Ambient Assisted Living">AAL</abbr>4ALL</a>-->.</p>
                <p class="about-me-text">After work I'm an avid reader, movies and tv shows addict, and sort of a handyman. Oh, and a proud dog owner too!</p>
                <p class="about-me-text">Find more about <a href="#work" class="ink-smooth-scroll" data-margin="60.8" title="Go to work">my work</a> or the <a href="#what-i-do" class="ink-smooth-scroll" data-margin="60.8" title="Go to what I do section">methods and tools I use</a> below. Feel free to <a href="#contact" class="ink-smooth-scroll" data-margin="60.8" title="Go to contact form">drop me a line</a> if you have any questions, comments, or would just like to say hello.</p>
                <p class="about-me-secondary">Also, make sure to <a href="https://www.linkedin.com/in/vsdteixeira" title="Linkedin profile" target="_blank">check out my LinkedIn profile</a> if you are interested in the companies and projects I have worked on.</p>
            </div>
        </div>
    </div>
</section> <!-- End of About Me section-->