<section class="scrollto blog" id="blog">
    <div class="ink-grid">

        <h1 class="align-center">Latest Writings</h1>
        <div class="column-group gutters align-center">


            <div class="xlarge-50 large-50 medium-100 small-100 tiny-100 push-center align-center">

                <p>Work in progress... For now you can check my Twitter updates below ;)</p>

                <a class="twitter-timeline" width="100%"  href="https://twitter.com/vsdteixeira" data-widget-id="493776443155812353">Tweets by @vsdteixeira</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>



            </div>
            <!--
{% for post in site.posts %}
<div class="xlarge-25 large-25 medium-50 small-100 tiny-100 post">
<article class="blog-teaser">    
<a href="{{ BASE_PATH }}{{ post.url }}">
<header class="blog-title push-center">
<img src="{{post.img}}" alt="{{post.img-alt-text}}" class="quarter-bottom-space">
<p class="bottom-space align-left small-align-center medium-align-center post-title">{{ post.title }}</p>
</header>
</a>
</article>
</div>
{% endfor %}
-->
        </div>
    </div>
</section>
