<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="Keywords" content="">
        <title>{%if page.title %} {{ page.title }} | {% endif %} V&iacute;tor Teixeira</title>
        <link rel="shortcut icon" href="{{ BASE_PATH }}/icon.png">
        <link rel=apple-touch-icon-precomposed href="{{ BASE_PATH }}/icon.png">
        <meta name=apple-mobile-web-app-title content="Vítor Teixeira">

        <!-- Everything CSS -->
        <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ BASE_PATH }}/css/normalize.css">
        <link rel="stylesheet" href="{{ BASE_PATH }}/css/style.css">

        <!-- JS Stuff -->
<!--        <script src="http://use.edgefonts.net/lato:n9,i4,n1,i7,i9,n7,i1,i3,n4,n3:all.js"></script>         TODO: Ask only for the required weights -->
        

        <script type="text/javascript">
            window.onload = (function(){
                if(window.location.hash == '#thank-you-message'){
                    document.getElementById('thank-you-message').className = 'none';
                }
            })
        </script>
    </head>
    <body>
        <div class="page">
            <header role="banner">
            <a href="/" class="long-logo">
                <h1>Vítor<span>Teixeira</span></h1>
            </a>
            
<!--                <a href="/"><img src="{{ BASE_PATH }}/img/long-logo-white.png" alt="Welcome to Vítor Teixeira's website" class="long-logo"></a>-->

                <nav role="navigation">
                    <ul>
                        <!--                        <li><a href="#"><{{ BASE_PATH }}/img src="img/short-logo-white.png" alt="" class="short-logo"></a></li>-->
                        <li><a{% if page.url == "/index.html" %} class="current" {% endif %} href="/">About Me</a></li>
                        <li><a{% if page.url == "/blog/index.html" %} class="current" {% endif %} href="/blog/">Blog</a></li>
                        <li><a{% if page.url == "/work/index.html" %} class="current" {% endif %} href="/work/">What I Do</a></li>
                        <li><a{% if page.url == "/contact/index.html" %} class="current" {% endif %} href="/contact/">Contact Me</a></li>
                    </ul>
                </nav>
            </header>
           <main role="main">