<header id="top" role="banner">
    {% include welcome.html %}

    <div class="top-menu ink-sticky" id="top-menu">
        <nav class="ink-navigation ink-grid" role="navigation">
            <ul class="menu horizontal">
                <li class="xlarge-push-left"><a href="{% if page.url == '/index.html' %} #top {% else %} / {% endif %}" title="Back to start" class="logo-placeholder ink-smooth-scroll"><i class="icon vticon-vt-logo"></i> <span class="hide-medium hide-small hide-tiny">Vítor Teixeira</span></a></li>

                <li class="push-right hide-all show-small show-tiny menu-target right-drawer-trigger"><a href="#" class="">Menu</a></li>

                <li class="sections-container hide-small hide-tiny">
                    <ul class="push-right navigation">
                        <li>
                            <a href="{% if page.url == '/index.html' %}#about{% else %} /#about {% endif %}" class="ink-smooth-scroll" data-margin="60.8" title="Who is Vítor Teixeira">About</a>
                        </li>

                        <li>
                            <a href="{% if page.url == '/index.html' %}#work{% else %} /work {% endif %}" class="{% if page.url == '/work/index.html' or page.categories contains 'work' %} active {% endif %} ink-smooth-scroll" data-margin="60.8" title="Latest Projects">Work</a>                        
                        </li>

                        <li>
                            <a href="{% if page.url == '/index.html' %}#what-i-do{% else %} /#what-i-do {% endif %}" class="ink-smooth-scroll" data-margin="60.8" title="Preferred Methodologies for User Experience Design">Methods</a>
                        </li>

                        <li class="hide-tiny hide-small">
                            <a href="{% if page.url == '/index.html' %}#toolkit{% else %} /#toolkit {% endif %}" class="ink-smooth-scroll" data-margin="60.8" title="Tools and Languages">Tools</a>
                        </li>

                        <li>                            
                            <a href="{% if page.url == '/index.html' %}#contact{% else %} /#contact {% endif %}" class="ink-smooth-scroll" data-margin="60.8" title="Get in touch with me">Contacts</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>







