<head>
    <meta charset="utf-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{%if page.title %} {{ page.title }} | {% endif %} {{ site.title }}</title>
    <link rel="shortcut icon" href="{{ BASE_PATH }}/favicon.ico" type="image/x-icon">

    <meta name="description" content="{{ site.description }}">
    <!-- load Ink's CSS -->
    {% stylesheet vendor/ink-flex.min.css %}
    <!-- load Ink's css for IE8 -->
    <!--[if lt IE 9 ]>
<link rel="stylesheet" href="../assets/css/vendor/ink-ie.min.css" type="text/css" media="screen" title="no title" charset="utf-8">
<![endif]-->
    <!-- load custom CSS and Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat|Lato:300,400,700' rel='stylesheet' type='text/css'>
    {% stylesheet vt-style %}
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>
