<section class="toolkit" id="toolkit" aria-labelledby="toolkitHeading">
    <div class="ink-grid">

        <h1 id="toolkitHeading" class="align-center">Toolkit &amp; languages</h1>
        <p class="align-center bottom-space toolkit-intro">Although there are many others, here is a list of some of the tools I'm using nowadays</p>


        <div class="column-group  push-center">
            <div class="xlarge-80 large-80 medium-100 small-100 tiny-100">

                <div class="column-group gutters align-left">

                    <div class="all-25 medium-50 small-50 tiny-50 align-center push-top">
                        <a href="https://www.omnigroup.com/omnigraffle" title="Omnigraffle" target="_blank">
                            {% image omni_logo.png alt:"Omnigraffle Logo" %}
                            <p class="half-top-space">Omnigraffle for wireframing</p>
                        </a>
                    </div>

                    <div class="all-25 medium-50 small-50 tiny-50 align-center push-top">
                        <a href="http://www.w3.org/TR/html5/" title="HTML5" target="_blank">
                            {% image html5_logo.png alt:"HTML5 Logo" %}
                            <p class="half-top-space">HTML5 for prototyping</p>
                        </a>
                    </div>

                    <div class="all-25 medium-50 small-50 tiny-50 align-center push-top">
                        <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS3" title="CSS3" target="_blank">
                            {% image css3_logo.png alt:"CSS3 Logo" %}
                            <p class="half-top-space">CSS3 for styling prototypes</p>
                        </a>
                    </div>


                    <div class="all-25 medium-50 small-50 tiny-50 align-center push-top">
                        <a href="http://www.seleniumhq.org/" title="Selenium" target="_blank">
                            {% image selenium_logo.png alt:"Selenium Logo" %}
                            <p class="half-top-space">Selenium for test automation</p>
                        </a>
                    </div>

                    <div class="all-25 medium-50 small-50 tiny-50 align-center push-top">
                        <a href="https://vwo.com/" title="Visual Website Optimizer" target="_blank">
                            {% image vwo_logo.png alt:"Visual Website Optimizer Logo" %}
                            <p class="half-top-space">Visual Website Optimizer for A/B testing</p>
                        </a>
                    </div>

                    <div class="all-25 medium-50 small-50 tiny-50 align-center push-top">
                        <a href="https://www.hotjar.com/" title="Hotjar" target="_blank">
                            {% image hotjar_logo.png alt:"Hotjar Logo" %}
                            <p class="half-top-space">Hotjar for analytics and feedback</p>
                        </a>
                    </div>

                    <div class="all-25 medium-50 small-50 tiny-50 align-center push-top">
                        {% image portuguese_english_flag.png alt:"Portuguese and English Flag" %}
                        <p class="half-top-space">Portuguese &amp; English for speaking and writing</p>
                    </div>

                    <div class="all-25 medium-50 small-50 tiny-50 align-center push-top">
                        {% image brain_circuit.png alt:"Representation of a brain made out of circuits" %}
                        <p class="half-top-space">My Brain for solving problems ;&#41;</p>
                    </div>

                </div>

            </div>
        </div>

    </div>
</section>
