<section class="toolkit" id="toolkit" aria-labelledby="toolkitHeading">
    <div class="ink-grid">

        <h1 id="toolkitHeading" class="align-center">Toolkit &amp; languages</h1>
        <p class="align-center bottom-space toolkit-intro">Although there are many others, here is a list of some of the tools I'm using nowadays</p>


        <div class="column-group  push-center">
            <div class="xlarge-80 large-80 medium-100 small-100 tiny-100">

                <div class="column-group gutters align-left">

                    <div class="all-33 medium-50 small-50 tiny-50 align-center push-top">
                        <a href="https://www.sketchapp.com/" title="Sketch" target="_blank">
                            {% asset sketch_logo.png alt:"Sketch Logo" %}
                            <p class="half-top-space">Sketch for wireframing and design</p>
                        </a>
                    </div>

                    <div class="all-33 medium-50 small-50 tiny-50 align-center push-top">
                        <a href="http://www.w3.org/TR/html5/" title="HTML5" target="_blank">
                            {% asset html5_logo.png alt:"HTML5 Logo" %}
                            <p class="half-top-space">HTML5 for prototyping</p>
                        </a>
                    </div>

                    <div class="all-33 medium-50 small-50 tiny-50 align-center push-top">
                        <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS3" title="CSS3" target="_blank">
                            {% asset css3_logo.png alt:"CSS3 Logo" %}
                            <p class="half-top-space">CSS3 for styling prototypes</p>
                        </a>
                    </div>

                    <div class="all-33 medium-50 small-50 tiny-50 align-center push-top">
                        <a href="https://slack.com/" title="Slack" target="_blank">
                            {% asset slack_logo.png alt:"Slack Logo" %}
                            <p class="half-top-space">Slack for rapid communication</p>
                        </a>
                    </div>

                    <div class="all-33 medium-50 small-50 tiny-50 align-center push-top">
                        {% asset portuguese_english_flag.png alt:"Portuguese and English Flag" %}
                        <p class="half-top-space">Portuguese &amp; English for speaking and writing</p>
                    </div>

                    <div class="all-33 medium-50 small-50 tiny-50 align-center push-top">
                        {% asset brain_circuit.png alt:"Representation of a brain made out of circuits" %}
                        <p class="half-top-space">My Brain for solving problems ;&#41;</p>
                    </div>

                </div>

            </div>
        </div>

    </div>
</section>
