{% if page.url == "/index.html" %}
<section class="welcome">
    <div class="brand-bg">
        <div class="ink-grid">
            <div class="column-group push-middle animated fadeInDown">
                <div class="xlarge-60 large-60 all-90 align-center push-center">
                    <p class="hide-small hide-tiny icon vticon-vt-logo"></p>
                    <h1 class="fw-400">V&iacute;tor Teixeira</h1>
                    <p class="tiny-vertical-space small-vertical-space punch">User Experience Professional</p>
                    <a class="hide-small hide-tiny align-center scroll-btn ink-smooth-scroll" data-margin="60.8" href="#about">Find more about me below</a>
                </div>
            </div>
        </div>
    </div>    
</section>
{% endif %}