{% if page.url == "/index.html" %}
<section class="hide-small hide-tiny welcome">
    <div class="brand-bg">
        <div class="ink-grid">
            <div class="column-group push-middle animated fadeInDown">
                <div class="xlarge-70 large-70 all-80 align-center push-center">
                    <p class="icon vticon-vt-logo"></p>
                    <h1 class="fw-400">Welcome to my site</h1>
                    <p class="punch">I'm V&iacute;tor and I'm a User Experience Professional</p>
                    <a class="align-center scroll scroll-btn" href="#about">More about me below</a>
                </div>
            </div>
        </div>
    </div>    
</section>
{% endif %}