<section class="what-i-do" id="what-i-do" aria-labelledby="whatIDoHeading">
    <div class="ink-grid">

        <h1 id="whatIDoHeading" class="align-center">What I do</h1>
        <p class="align-center bottom-space what-i-do-intro">Here are some of my User-Centered Design methods of choice</p>
        <div class="column-group  push-center">

            <div class="xlarge-80 large-80 medium-100 small-100 tiny-100">

                <div class="column-group gutters align-left">

                    <div class="xlarge-33 large-33 medium-33 small-100 tiny-100">
                        <h2>User Research</h2>
                        <p>Understand user behaviors, needs, and motivation from contextual interviews, individual interviews, surveys, task analysis, and other methodologies designed to obtain feedback.
                        </p>
                    </div>

                    <div class="xlarge-33 large-33 medium-33 small-100 tiny-100">
                        <h2>Wireframing</h2>
                        <p>Create abstract concepts of an interface's space allocation, content prioritization, functionalities, and intended behaviors. Also useful to generate feedback from both users and team members.</p>
                    </div>

                    <div class="xlarge-33 large-33 medium-33 small-100 tiny-100">
                        <h2>Prototyping</h2>
                        <p>Create rapid and inexpensive paper or digital drafts of a product or page, in order to get user feedback about the design process early, before investing time and money into development.</p>
                    </div>

                    <div class="xlarge-33 large-33 medium-33 small-100 tiny-100">
                        <h2>Information Architecture</h2>
                        <p>Organize, structure, and label content, creating the logic relations within the system. The purpose is to help users find where they are, what they are seeing, and what to expect. IA plays a key role in wireframing and prototyping.</p>
                    </div>

                    <div class="xlarge-33 large-33 medium-33 small-100 tiny-100">
                        <h2>Interaction Design</h2>
                        <p>Create interfaces with well thought behaviors in order to respect the principles of human-computer interaction. Allows anticipating users interaction with the system, prevent problems, and create new ways of interacting with elements.</p>
                    </div>

                    <div class="xlarge-33 large-33 medium-33 small-100 tiny-100">
                        <h2>Usability Testing</h2>
                        <p>Perform one-on-one sessions with real users to identify user frustrations and problems while they perform tasks with the product. Allows making recommendations to improve effectiveness, efficiency, and overall satisfaction of the user.</p>
                    </div>

                    <div class="xlarge-33 large-33 medium-33 small-100 tiny-100">
                        <h2>Quality Assurance</h2>
                        <p>Develop test plans, check if requirements are met, automate tests, validate multiple browser and devices, perform SEO and overall performance validation.</p>
                    </div>

                    <div class="xlarge-33 large-33 medium-33 small-100 tiny-100">
                        <h2>Heuristic Evaluation</h2>
                        <p>Review the system and evaluate it against a list of established usability principles or guidelines. Results in a list of usability issues that can be arranged by severity.</p>
                    </div>

                    <div class="xlarge-33 large-33 medium-33 small-100 tiny-100">
                        <h2>A/B Testing</h2>
                        <p>Create different variations of pages, or elements on pages, and equally split the traffic between them to determine which alternatives are better received by the target audience.</p>
                    </div>
                </div>
            </div>
        </div>      
    </div>
</section>
