$brand-color: #01a68a;

$even-section-bg-color: #f1f1f2;
$contact-bg-color: #212121;
$dark-on-dark-bg-color: #282828; 
$footer-bg-color: #282828;
$blog-title-bg-color: #a6a8ab;

$secondary-text-color: #808184;
$dark-bg-text-color: #fff;
$dark-text-color: #212121;
$footer-text-color: #929497;
$copy-text-color:#58595B;
$hover-link-color: #007ED5;
$dark-title-color:#555555;

$post-meta-text-color: #999;

$general-face: 'Lato', sans-serif;
$title-face: 'Montserrat', sans-serif;
