html, body{
    font-family: $general-face;
    font-weight:300;
    font-size: 100%;
}


// ------------------------------------------------------------------
// Headings
// ------------------------------------------------------------------
h1{
    font-size: 2.8125em;
    font-family: $title-face;
    font-weight: 400;
    text-transform: uppercase;
}

h2{
    font-size: 1.5em;
    color: $brand-color;
}

// ------------------------------------------------------------------
// Paragraphs
// ------------------------------------------------------------------
p {
    line-height: 1.6;

    @media only screen and (min-width: 47em) and (max-width: 60em) {
        font-size: 1.2em;
    }

    @media only screen and (min-width: 60em) {
        font-size: 1.1em;
    }
}

// ------------------------------------------------------------------
// Links
// ------------------------------------------------------------------
a{
    color: $brand-color;
    
    &:hover,
    &:focus{
        text-decoration: none;
    }
}

// ------------------------------------------------------------------
// Sections spacing
// ------------------------------------------------------------------
.content-drawer section{
    border: 0px none;
    padding: 3.5em 0px;
}
.content-drawer section + section{
    margin-top: 0px;
}

// ------------------------------------------------------------------
// Helpers
// ------------------------------------------------------------------

@mixin dashed-border($padding, $border-size, $background) {
    padding: $padding;
    border: $border-size dashed $brand-color;
    background: $background;
}

.secondary-text{
    color: $secondary-text-color;
}


.icon{
    line-height: 1;
    vertical-align: middle;
}

.headerless{
    background-color: $brand-color;
}

.headerless .ink-grid .column-group{
    color: $dark-bg-text-color;
    text-shadow: 0px 1px 0px rgb(8, 111, 94);

    h1{
        color: $dark-bg-text-color; 
        margin-bottom: 0.1em;
    }

    p{
        font-size: 1.625em;
    }

    a.action{
        font-size: 0.8em;
        font-weight: 400;
        font-family: $title-face;
        color: $dark-bg-text-color;
        text-transform: uppercase;
        border-radius: 4px;
        border: 1px solid $dark-bg-text-color;
        padding: 0.7em;
        display: inline-block;
        margin-top: 1em;
        text-decoration: none;

        &:hover,
        &:focus {	
            background: $dark-bg-text-color;
            color: $brand-color;
            text-shadow: none;
        }

    }

    .logo-placeholder{
        display: block;
        line-height: 1.7;
        color: $dark-bg-text-color;
        text-decoration: none;
        max-width: 25,625em;
        padding: 0.5em 1em;


        .icon{
            font-size: 7em;
        }
        span{
            font-size: 2em;
            margin-left: 0.8em;
            text-transform: uppercase;
        }

        &:hover,
        &:focus{

            text-decoration: none;
            background: #18b295;
        }
    }

}



// ------------------------------------------------------------------
// Visually Hidden
// ------------------------------------------------------------------


%hide-text {
    border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px;
}