.contact{
    background-color: $contact-bg-color;

    h1{
        color: $dark-bg-text-color;
        margin-bottom: 0.2em;
    }

    .contact-prompt{
        color: $dark-bg-text-color;
        font-size: 1.5em;


        @media only screen and (max-width: 40em) {
            font-size: 1.1em;
        }
    }
    
    a.action-btn{
        font-size: 1.25em;
        font-weight: 400;
        font-family: $title-face;
        color: lighten($brand-color, 10%);
        border-radius: 4px;
        border: 1px solid lighten($brand-color, 10%);
        padding: 0.7em;
        display: inline-block;
        margin-top: 1em;
        text-decoration: none;

        @media only screen and (max-width: 40em) {
            font-size: 1em;
        }
        
        &:hover,
        &:focus {	
            background: $brand-color;
            border-color: $brand-color;
            color: $dark-bg-text-color;
            text-shadow: none;
        }
    }
}

