.post-header{
    padding-top: 0em;

    h1{
        color: $dark-title-color;
    }
}

.post-meta{
    color: $post-meta-text-color;
    color: #999;
    font-weight: 300;
}

.post-content{
    margin-bottom: 0;
}

.intro{
    font-size: 1.3em;
    line-height: 1.4;
    font-weight: 300;

    @media only screen and (max-width: 60em) {
        font-size: 1.25em;
    }
}


.work-post {

    h2{
        color: $dark-title-color;
        text-transform: uppercase;
        font-size: 1.5em;
        margin-top: 2.5em;
    }

    ul{
        list-style: outside none none;
        padding-left: 0;

        li{
            border-bottom: 1px solid #CFCFCF;
            padding: 10px 3px;
        }
    }

}

footer.article-navigation {
    border-top: 2px solid #CFCFCF;
    background-color: initial;
    padding-top: 1.5em;
    padding-bottom: 0;
}

