.toolkit{
    background-color: $even-section-bg-color;

    h1{
        color: $dark-title-color;
        margin-bottom: 0.2em;
    }

    .toolkit-intro{
        font-size: 1.5em;

        @media only screen and (max-width: 40em) {
            font-size: 1.1em;
        }

    }
}