// ===========================================
// WELCOME SECTION
// ===========================================
.welcome{

    height: 600px;
    height: 100vh;

    @media only screen and (min-width: 47em) {
        background-image: url(asset_path('header-bg@2X.jpg'));
        background-size: cover;
        background-position: right bottom;    
    }


}

.welcome .ink-grid{
    height: 100%;
}

.welcome .ink-grid .column-group{
    height: inherit;
    color: $dark-bg-text-color;
    text-shadow: 0px 1px 0px rgb(8, 111, 94);
    p.icon{
        font-size: 6em;
        margin-bottom: 0.4em;
    }

    h1{
        color: $dark-bg-text-color; 
        margin-bottom: 0.1em;
    }

    p.punch{
        font-size: 1.625em;
    }

    a.scroll-btn{
        font-size: 0.8em;
        font-weight: 400;
        font-family: $title-face;
        color: $dark-bg-text-color;
        text-transform: uppercase;
        border-radius: 4px;
        border: 1px solid $dark-bg-text-color;
        padding: 0.7em;
        display: inline-block;
        margin-top: 1em;
        text-decoration: none;

        &:hover,
        &:focus {	
            background: $dark-bg-text-color;
            color: $brand-color;
            text-shadow: none;
        }

    }

}

.welcome .brand-bg{
    height: 100%;
    /* Fallback for web browsers that don't support RGBa */
    background-color: $brand-color;
    /* RGBa with 85% opacity */
    background-color: rgba($brand-color, 0.75);
}