.what-i-do{
    h1{
        color: $dark-title-color;
        margin-bottom: 0.2em;
    }

    .what-i-do-intro, .toolkit-intro{
        font-size: 1.5em;

        @media only screen and (max-width: 40em) {
            font-size: 1.1em;
        }
    }

    h2{
        color: $copy-text-color;
        font-weight: 300;
        text-transform: uppercase;
    }

    h2.toolkit-heading{
        color: $dark-title-color;
        margin-bottom: 0.2em;
        font-size: 2.8125em;
        font-family: "Montserrat",sans-serif;
        font-weight: 400;
        text-transform: uppercase;        
    }
}