.work{
    background-color: $even-section-bg-color;

    h1{
        color: $brand-color;
    }
    
    .post-teaser {

        img{
            @include dashed-border(1em, 3px, #fff);
        }

        p{
            font-family: $title-face;
            font-size: 1.5em;
        }
    }


    a:hover, a:focus {
        img{
            border-color: $hover-link-color;
        }
    }
}

