---
layout: default
---

<section class="main">
    <div class="ink-grid work-post">
        <div class="column-group push-center">
            <div class="xlarge-80 large-80 medium-100 small-100 tiny-100">

                <article class="blog-post bottom-space post-content">
                    <header class="post-header">
                        <div class="blog-title">
                            <h1 class="align-center post-title">{{page.title}}</h1>
                        </div>
                    </header>

                    <div class="blog-content">
                        <div class="column-group gutters">
                            <div class="xlarge-70 large-70 medium-100 small-100 tiny-100 push-center">
                                <p class="intro align-center">{{page.description}}</p>
                            </div>
                        </div>
                        <div class="column-group gutters">
                            <div class="xlarge-40 large-40 medium-100 small-100 tiny-100">

                                {{ content }} 
                            </div>

                            <div class="xlarge-60 large-60 medium-100 small-100 tiny-100">
                                {% if page.wire-image%}
                                <figure class="align-center bottom-space">
                                    <img src="{{page.wire-image}}" alt="{{page.wire-image-alt}}">
                                </figure>
                                {% endif %}
                                {% if page.final-image%}
                                <figure class="align-center bottom-space">
                                    <img src="{{page.final-image}}" alt="{{page.final-image-alt}}">
                                </figure>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <footer class="article-navigation top-space">
                        <h3 class="more-projects-title">Other projects</h3>
                        <div class="push-center align-center">
                            <div class="column-group gutters">
                                {% for post in site.categories['work'] limit: 4 %}

                                {% if post.url != page.url %}
                                <div class="xlarge-25 large-25 medium-25 small-50 tiny-50 work-post">
                                    <article class="post-teaser">    
                                        <a href="{{ BASE_PATH }}{{ post.url }}">
                                            <header class="post-title push-center">

                                                {% if post.thumb%}
                                                <img src="{{post.thumb}}" alt="{{post.thumb-alt-text}}" class="half-bottom-space"><span>{{ post.tags[0] }}</span>
                                                {% endif %}

                                                <p class="post-title">{{ post.title }}</p>

                                            </header>
                                        </a>
                                    </article>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </footer>
                </article>
            </div>
        </div>
    </div>
</section>